<section>
    <div class="signup">
        <span>Login Here</span>
        <form class="login_form" action="POST">
            <input type="text" name="first_Name" id="first_Name" placeholder="Your First Name">
            <input type="text" name="last_Name" id="last_Name" placeholder="Your Last Name">
            
            <input type="text" name="email" id="email" placeholder="Your Email">
            <input type="text" name="password" id="password"placeholder="Your Password">
             <span class="message">{{msg}}</span>
             <button class="signup_btn">LogIn </button>
             <span>if you not register in this website <a href="/signup">SignUp</a></span>
        </form>
    </div>
</section>